body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}